/* -------------------- */

html,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

.site-width {
    width: 90%;
    margin: 0 auto;
}

.mobile {
    display: none;
}

.t-caret {
    display: none;
}

div#typed_1 {
    height: 112px;
}

div#typed_2 {
    height: 212px;
}

div#typed_3 {
    height: 212px;
}


/* ============================= */

header.header-area {
    z-index: 2;
    position: relative;
}

.header-padding {
    padding: 20px 0;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.navbar-menu-item {
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar-menu-item li {
    display: inline-block;
}

.navbar-menu-item li a:nth-last-child() {
    padding: 0;
}

.navbar-menu-item li a {
    text-decoration: none;
    color: #091030c4;
    padding: 0px 15px;
    transition: .3s;
    font-weight: 500;
}

.navbar-menu-item li:hover a {
    color: #3a4ae9;
    transition: .3s;
}

.navbar-demo-btn a {
    display: inline-block;
    padding: 12px 25px;
    background: #ECEEFB;
    border-radius: 15px;
    color: #3A4AE9;
    width: 130px;
    text-decoration: none;
    transition: .3s;
}

.navbar-demo-btn a:hover {
    background: #3A4AE9;
    color: #ECEEFB;
    transition: .3s;
}

.navbar-menu-mobile-btn {
    position: absolute;
    right: 0;
    display: none;
    top: -9px;
}

.navbar-menu-mobile-btn span {
    width: 30px;
    height: 2px;
    background: #3e43f3;
    display: block;
    margin-bottom: 6px;
}

ul {
    margin-bottom: 0px;
}


/* -------------------- */

section.hero-area {
    background-image: url(img/herobg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 90vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    border-radius: 0px 0px 0px 200px;
}


/* .slider-image {
    
} */

.slider-image img {
    height: auto;
    width: 90%;
}

.slider-content h3 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 50px;
    color: #091030;
}


/* #typed_3 {
    height: 212px!important;
} */

.slider-content h1 {
    font-family: 'Circular Std black';
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    color: #091030;
    /* height: 15px; */
    /* height: 200px; */
}

.slider-content a {
    display: inline-block;
    padding: 15px 25px;
    background: #3A4AE9;
    color: #fff;
    border-radius: 15px;
    margin-top: 30px;
    position: relative;
}

.slider-content a::after {
    content: '';
    position: absolute;
    left: 0;
    top: -96px;
    width: 168%;
    height: 50px;
    background: linear-gradient( 0deg, hsl(233, 79%, 74%, 19%), transparent);
    border-radius: 10px;
}

.slider-content a:hover {
    background: #fff;
    color: #3A4AE9;
    transition: .5s;
    text-decoration: none;
}

div#typed_1 h1 {
    height: 150px!important;
}


/* -------------------- */


/* -------------------- */


/* -------------------- */


/* -------------------- */

.work-padding {
    padding: 100px 0;
    padding-bottom: 0;
}

.work-main-wrap {
    width: 90%;
    margin: 0 auto;
}

.work-item {
    box-shadow: 0px 0px 70px 0px hsl(230, 62%, 74%, 26%);
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 40px;
    overflow: hidden;
}

.work-content {
    padding: 5% 10% 10% 10%;
}

.work-content h4 {
    font-size: 26px;
    color: hsl(229, 68%, 11%, 70%);
    font-weight: 500;
    line-height: 40px;
}

.work-item:hover {
    box-shadow: 0px 0px 70px 0px hsl(230, 62%, 74%, 32%);
}

.work-title h3 {
    font-family: "Circular Std black";
    font-weight: 400;
    color: rgb(35, 56, 98);
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 44px;
}

.work-image {
    width: 100%;
    height: 360px;
    box-shadow: 0px 0px 70px 0px hsl(230deg 62% 74% / 20%);
}

.work-image img {
    width: 100%;
    height: 100%;
}

.work-content h6 {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ECEEFB;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 22px;
    transition: .5s;
    font-weight: 500;
    color: #3A4AE9;
}

.work-item:hover .work-content h6 {
    background: #3A4AE9;
    color: #fff;
    transition: .5s;
}


/* -------------------- */

.feature-area {
    background-image: url(img/feature.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    position: relative;
}

.feature-padding {
    padding: 60px 0;
    margin: 5% 0;
}

.feature-title.desktop h3 {
    font-size: 44px;
    color: #091030;
    font-family: 'Circular Std black';
    margin-bottom: 10%;
}

.feature-title.mobile h3 {
    font-family: 'Circular Std Black';
    font-size: 44px;
    color: #091030;
}

.feature-item-content-right h4 {
    font-family: 'Circular Std medium';
    font-weight: 400;
    color: #091030;
}


/* .feature-title {
    margin-bottom: 10%;
} */

.feature-item {
    display: flex;
    margin-bottom: 50px;
}

.feature-item-icon-left img {
    width: 70px;
    margin-right: 40px;
}

.feature-item-content-right p {
    text-align: left;
    color: hsl(229, 68%, 11%, 70%)
}


/* -------------------- */


/* -------------------- */

.partner-area {
    background-image: url(img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 100px;
}


/* .partner-padding {
    padding: 100px 0;
} */

.partner-main-wrap {
    width: 80%;
    margin: 0 auto;
}

.partner-title {
    margin-bottom: 70px;
}

.partner-title h3 {
    font-family: 'Circular Std black';
    font-size: 44px;
}

.partner-list a {
    margin-right: 80px;
    display: inline-block;
    width: 190px;
}

.partner-list a img {
    width: 100%;
}


/* -------------------- */

.contact-area {
    background-image: url(img/contact.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px 1px 100px 0px;
    /* padding: 250px 0; */
}

.contact-padding {
    padding: 100px 0;
}

.contact-main-wrap {
    width: 80%;
    margin: 0 auto;
}

.contact-left {
    padding-top: 15%;
}

.contact-right {
    padding-top: 15%;
}

.contact-right label {
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}

.contact-right input {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    padding: 0px 20px;
    border-radius: 15px;
    border: 1px solid #ddd;
    height: 80px;
    font-family: 'Poppins';
    outline: none;
}

.contact-right input[type="button"] {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 50px;
    background: #3A4AE9;
    color: #fff;
    width: 220px;
    font-size: 20px;
    border: 3px solid;
}

.contact-right textarea {
    display: block;
    width: 100%;
    height: 162px;
    outline: none;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 90px 0px #7b82a74d;
    padding: 15px 20px;
}

.contact-left p {
    color: hsl(0, 0%, 100%, 70%);
    font-size: 26px;
    line-height: 40px;
}

.contact-left h4 {
    color: #fff;
    font-size: 55px;
    font-family: 'Circular Std black';
    line-height: 50px;
}

::placeholder {
    color: hsl(229, 68%, 11%, 25%);
}


/* -------------------- */

footer.footer-area {
    position: relative;
}

.footer-area:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    left: 0;
    bottom: 70px;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-text p {
    margin: 0;
}

.footer-social a img {
    margin: 0 12px;
}

.footer-privacy a:first-child {
    margin: 0;
}

.footer-privacy a {
    display: inline-block;
    margin-left: 40px;
}

.feature-image {
    width: 100%;
    height: 400px;
}

.feature-bg-left {
    background-image: url(img/feature.svg);
    position: absolute;
    left: -4%;
    bottom: 0%;
    width: 45%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-area {
    background-image: unset;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}


/* -------------------- */


/* responsive  */

@media only screen and (max-width: 1200px) {
    .hero-main-wrap {
        padding-bottom: 10%;
    }
    .work-title h3 {
        font-family: "Circular Std black";
        text-align: left;
        margin-left: 0;
    }
    .navbar-logo img {
        width: 230px;
    }
    .navbar-menu-item li a {
        text-decoration: none;
        color: #091030;
        padding: 0px 7px;
    }
    .slider-content h1 {
        font-size: 50px;
        z-index: 99;
        position: relative;
    }
    .feature-item-icon-left img {
        width: 40px;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .mobile {
        display: none;
    }
    .feature-image::after {
        left: -27%;
        bottom: 0%;
        width: 130%;
        height: 90%;
        background-size: cover;
    }
    .feature-item p {
        font-size: 14px;
    }
    .feature-item h4 {
        font-size: 18px;
    }
    .partner-list a {
        margin-right: 20px;
        display: inline-block;
    }
    .partner-main-wrap {
        width: 98%;
        margin: 0 auto;
    }
    .work-main-wrap {
        width: 100%;
        margin: 0 auto;
    }
    .work-image {
        height: 220px;
    }
    div#typed_1 {
        height: 100px;
    }
    div#typed_2 {
        height: 140px;
    }
    div#typed_3 {
        height: 140px;
    }
    div#typed_1 h1 {
        font-size: 35px;
    }
    div#typed_2 h1 {
        font-size: 35px;
    }
    div#typed_3 h1 {
        font-size: 35px;
    }
    .work-content h4 {
        font-size: 18px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 991px) {
    .slider-content {
        position: relative;
        top: unset;
    }
    .feature-bg-left {
        display: none;
    }
    .slider-image {
        margin-top: 25px;
    }
    .partner-list a {
        margin-right: 20px;
        display: block;
        margin-bottom: 87px;
    }
    .footer-copyright {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .contact-left {
        position: relative;
        top: 0;
        padding-top: 0;
    }
    .contact-right {
        position: relative;
        top: 0;
    }
    .footer-area:after {
        bottom: 260px;
    }
    .footer-logo {
        margin-bottom: 0px;
        padding: 50px 0;
    }
    .footer-text p {
        text-align: left;
        margin-bottom: 50px;
    }
    .footer-privacy {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    .footer-privacy a {
        display: block;
        margin: 0;
    }
    .feature-item {
        display: block;
        margin-bottom: 50px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .navbar-menu-mobile-btn {
        display: block;
        cursor: pointer;
    }
    .site-width {
        width: 95%;
    }
    section.hero-area {
        height: unset;
    }
    .slider-content {
        padding-top: 20%;
    }
    .work-main-wrap {
        width: 95%;
    }
    .navbar-demo-btn {
        display: none;
    }
    .navbar-logo img {
        width: 230px;
    }
    .navbar-menu-item {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 50px;
        text-align: left!important;
        width: 131%;
        left: -27%;
        background: #fff!important;
        display: none;
        z-index: 1;
    }
    .navbar-menu-item ul {
        padding: 0;
    }
    .navbar-menu-item li {
        display: block;
        margin-bottom: 10px;
    }
    .navbar-logo {
        width: 20%;
    }
    .navbar-menu {
        position: relative;
        width: 80%;
    }
    .feature-area {
        background-image: unset;
    }
    .feature-image {
        width: 100%;
        height: 690px;
    }
    .feature-image::after {
        content: '';
        background-image: url(img/feature.svg);
        position: absolute;
        left: -17%;
        width: 110%;
        height: 85%;
        background-position: left;
        background-size: cover;
    }
    .feature-content {
        padding-top: 60px;
    }
    .work-image {
        width: 100%;
        height: 570px;
        padding: 0%;
    }
    h4 {
        font-size: 20px;
    }
    .slider-content h1 {
        font-size: 50px;
    }
    .slider-content h3 {
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .contact-area {
        /* background-image: url(img/contact-2.png); */
        background: #3a4ae9;
    }
}

@media only screen and (max-width: 770px) {
    /* section.hero-area {
        height: unset;
    } */
    div#typed_1 {
        height: 100px;
    }
    div#typed_2 {
        height: 140px;
    }
    div#typed_3 {
        height: 140px;
    }
    div#typed_2 h1 {
        font-size: 40px;
    }
    div#typed_3 h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .partner-list a {
        margin-right: 20px;
        display: block;
        margin-bottom: 87px;
    }
    .footer-copyright {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .feature-item {
        display: block;
        margin-bottom: 50px;
    }
    .desktop {
        display: none;
    }
    .navbar-menu-mobile-btn {
        display: block;
        cursor: pointer;
    }
    .site-width {
        width: 95%;
    }
    section.hero-area {
        height: unset;
    }
    .slider-content {
        padding-top: 20%;
    }
    .work-main-wrap {
        width: 95%;
    }
    .navbar-demo-btn {
        display: none;
    }
    .navbar-logo img {
        width: 230px;
    }
    .navbar-menu-item {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 50px;
        text-align: center;
        width: 131%;
        left: -27%;
        background: #ddd;
        display: none;
        z-index: 1;
    }
    .navbar-menu-item li {
        display: block;
    }
    .navbar-logo {
        width: 20%;
    }
    .navbar-menu {
        position: relative;
        width: 80%;
    }
    .feature-area {
        background-image: unset;
    }
    .feature-image {
        width: 100%;
        height: 400px;
    }
    .feature-image::after {
        content: '';
        background-image: url(img/feature.svg);
        position: absolute;
        left: -10%;
        width: 100%;
        height: 100%;
        background-position: left;
        background-size: cover;
    }
    .feature-content {
        padding-top: 60px;
    }
    .work-image {
        width: 100%;
        height: 315px;
        padding: 10%;
    }
    h4 {
        font-size: 20px;
    }
    .slider-content h1 {
        font-size: 50px;
    }
    .slider-content h3 {
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .contact-area {
        background-image: unset;
    }
    .partner-list a {
        margin-right: 20px;
        display: block;
        margin-bottom: 87px;
    }
    .contact-left h4 {
        color: #fff;
        font-size: 40px;
        font-family: 'Circular Std black';
    }
    .contact-left p {
        font-size: 20px;
        line-height: 40px;
    }
    .contact-right input {
        height: 70px;
    }
}

@media only screen and (max-width: 576px) {
    .desktop {
        display: none;
    }
    .footer-copyright {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .feature-item {
        display: block;
        margin-bottom: 50px;
    }
    .navbar-menu-mobile-btn {
        display: block;
        cursor: pointer;
    }
    .site-width {
        width: 100%;
    }
    section.hero-area {
        height: unset;
    }
    .slider-content {
        padding-top: 20%;
    }
    .work-main-wrap {
        width: 100%;
    }
    .work-item {
        box-shadow: 0px 0px 30px #7b82a738;
        border-radius: 15px;
        margin-bottom: 45px;
        overflow: hidden;
    }
    .work-padding {
        padding: 60px 0;
        padding-bottom: 0;
    }
    .feature-padding {
        padding: 30px 0;
    }
    .work-content h4 {
        font-size: 18px;
    }
    .navbar-demo-btn {
        display: none;
    }
    .navbar-logo img {
        width: 190px;
    }
    .navbar-menu-item {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 50px;
        text-align: center;
        width: 131%;
        left: -27%;
        background: #ddd;
        display: none;
        z-index: 1;
    }
    .navbar-menu-item li {
        display: block;
    }
    .navbar-logo {
        width: 20%;
    }
    .navbar-menu {
        position: relative;
        width: 80%;
    }
    .feature-area {
        background-image: unset;
    }
    .feature-image {
        width: 100%;
        height: 400px;
    }
    .feature-image::after {
        content: '';
        background-image: url(img/feature.svg);
        position: absolute;
        left: -23%;
        width: 120%;
        height: 77%;
        background-position: left;
        background-size: cover;
    }
    .footer-area:after {
        bottom: 290px;
    }
    .feature-content {
        padding-top: 60px;
    }
    .work-image {
        width: 100%;
        height: 200px;
        padding: 0%;
    }
    /* h4 {
        font-size: 20px;
    } */
    .slider-content h1 {
        font-size: 30px;
    }
    .slider-content h3 {
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .contact-area {
        background-image: unset;
    }
    .slider-content h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .work-title h3 {
        font-size: 30px;
    }
    div#typed_1 {
        height: 100px;
    }
    div#typed_2 {
        height: 140px;
    }
    div#typed_3 {
        height: 140px;
    }
    .feature-main-wrap {
        padding-left: 8%;
    }
    .partner-list a {
        margin-bottom: 50px;
    }
    .footer-area:after {
        bottom: 270px;
    }
    .partner-main-wrap {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 320px) {
    .slider-content h1 {
        font-size: 30px;
    }
    .slider-content h3 {
        font-size: 20px;
    }
    .work-content h4 {
        font-size: 17px;
        line-height: 30px;
    }
    .work-content {
        padding: 10% 5% 5% 5%;
    }
    .feature-image::after {
        width: 120%;
        height: 62%;
        top: 14%;
    }
    .feature-title.mobile h3 {
        font-family: 'Circular Std Black';
        font-size: 40px;
        color: #091030;
    }
    .work-padding {
        padding-bottom: 0;
    }
    .feature-content {
        padding-top: 0;
        position: relative;
        top: -40px;
    }
    .partner-title h3 {
        font-family: 'Circular Std black';
        font-size: 40px;
    }
    .partner-area {
        padding-bottom: 0px;
    }
    .contact-left h4 {
        font-size: 34px;
    }
    .contact-main-wrap {
        width: 90%;
        margin: 0 auto;
    }
    .contact-right input {
        height: 50px;
    }
    .contact-right textarea {
        height: 110px;
    }
    .contact-right input[type="button"] {
        padding: 0px 25px;
    }
    .footer-logo img {
        width: 90%;
    }
    .footer-text p {
        margin: 0;
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 25px;
    }
    .footer-area:after {
        bottom: 250px;
    }
    .footer-privacy a:first-child {
        margin: 0;
    }
    .footer-privacy a {
        display: block;
        margin: 0;
        font-size: 14px;
    }
    .contact-left p {
        font-size: 16px;
        line-height: 25px;
    }
    div#typed_1 h1 {
        height: 120px!important;
    }
}